@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 스타일시트
 * 작성자 : 김윤지
 * 작성일 : 2024.09.26
 * 임포트 파일 : 리셋, 부트스트랩, 폰트
 * 
 */
 
@import url(../css/bootstrap/dist/css/bootstrap.min.css);
/* 
@import url(../fonts/bootstrap-icons/bootstrap-icons.css);
@import url(./custom.css); */

@import url(./reset.css);

/*#################### 폰트 ####################*/
@import url(../fonts/NotoSansKR/NotoSansKR.css);
@import url(../fonts/Roboto/Roboto.css);

@import url(./variables.css);
@import url(./header.css);
@import url(./side-menu.css);

@import url(./right-panel.css);
@import url(./modal.css);

/* @import url(./dataTables-custom.css); */

/* 
@import url(/css/popup.css);

@import url(/css/nav.css);
@import url(/css/form.css);
@import url(/css/board.css);
@import url(/css/utilities.css);

@import url(/css/navigation.css);
@import url(/css/list-group.css);

@import url(/css/animation.css); */

/*#################### bootstrap overriding ####################*/
body {
	background-color: var(--bg-neutral-tertiary);
	font-family: var(--font-family);
	color: var(--text-neutral-default);

	min-width: 1920px;
	height: 963px;
}

.hangul_fallback {
	font-family: var(--font-family);
}

.text-primary {
	color: var(--text-brand-tertiary) !important;
}

.text-danger {
	color: var(--text-danger-tertiary) !important;
}

.text-success {
	color: var(--text-positive-tertiary) !important;
}

.text-warning {
	color: var(--text-warning-tertiary) !important;
}

a {
	color: var(--text-neutral-default);
	text-decoration: none;
}

a:hover {
	color: var(--text-brand-tertiary);
}

a[onclick] {
	cursor: pointer;
}


/*#################### layout & common style ####################*/
/* line-clamp */
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp.single {
	-webkit-line-clamp: 1;
}

.line-clamp.double {
	-webkit-line-clamp: 2;
}

/*#################### Typography ####################*/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--bs-heading-color);
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

/*#################### Typography ####################*/
.box-title01 {
	font-size: 21px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;
	padding-left: .875rem;

	margin-bottom: 1rem;
}

.box-title01::before {
	content: '';

	display: block;
	width: 7px;
	height: 20px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.box-title02 {
	font-size: 20px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;
	padding-left: .75rem;

	margin-bottom: 1rem;
}

.box-title02::before {
	content: '';

	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 10%;
}

.box-title02::after {
	content: '';

	display: block;
	width: 6px;
	height: 10px;
	border-radius: 4px;
	background-color: var(--bg-brand-secondary);

	position: absolute;
	left: 0;
	top: 50%;
}

.box-title03 {
	font-size: 18px;
	font-weight: 700;

	color: var(--text-neutral-default);
	position: relative;
	padding-left: .75rem;

	margin-bottom: .875rem;
}

.box-title03::before {
	content: '';

	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 12%;
}

.box-title03::after {
	content: '';

	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background-color: var(--bg-brand-default);

	position: absolute;
	left: 0;
	top: 54%;
}

[class*="box-title"] > small {
	font-weight: 400;
	font-size: 76%;
	margin-left: 4px;
}

/*#################### Accessories ####################*/
/* line-bar */
.line-bar {
	position: relative;
}

[class*="line-bar"]::before,
[class*="line-bar"]::after {
	content: '';

	width: 1px;
	height: 100%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.line-before::before {
	left: 0;
	display: block;
	background-color: var(--bg-neutral-tertiary);
}

.line-after::after {
	right: 0;
	display: block;
	background-color: var(--bg-neutral-tertiary);
}

.line-H12::before,
.line-H12::after {
	height: 12px;
}

.line-H16::before,
.line-H16::after {
	height: 16px;
}

.line-H20::before,
.line-H20::after {
	height: 20px;
}

.line-H24::before,
.line-H24::after {
	height: 24px;
}

/* 준비중입니다. */
.not-ready {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

}

/*#################### Buttons ####################*/
.btn {
	border-radius: .25rem;
	line-height: 1;
}
.btn:has([class*='material-']) {
	display: flex;
	align-items: center;
}

/* tab */
.nav-link {
	
}
.nav-link.active {
	font-weight: 700;
}

.tab-pane {
	padding: 1rem;
	height: 100%;
}

/* table-responsive */
.table {
	margin-bottom: 0;
}
.table th {
	font-weight: 500;
	position: relative;
}
.table thead th {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--bg-neutral-tertiary);
	border-bottom: solid 1px var(--border-neutral-tertiary);
}

.table thead th::after {
	content: '';

	width: 1px;
	height: 12px;

	display: block;

	position: absolute;
	top: 50%;
	right: 1px;
	transform: translateY(-50%);
	background-color: var(--border-neutral-default);
}

.table thead th:last-child::after {
	width: 0;
}

.table tbody tr:last-child th, .table tbody tr:last-child td {
	border-bottom: none;
}

.table th, .table td {
	white-space: nowrap; /* 줄 바꿈 방지 */

}

.table-responsive {
	border: solid 1px var(--border-neutral-secondary);
	border-radius: var(--bs-border-radius);
}

.table tr.active th,
.table tr.active td {
	background-color: var(--bg-brand-tertiary);
}

/* sticky thead */
.table-wrapper {
	position: relative;
	max-height: 240px;
	overflow: hidden;
	margin-bottom: 1rem;
}

.table-header {
	position: sticky;
	top: 0;
	z-index: 10;
	background: white;
}

.table-body {
	max-height: 240px;
	overflow-y: auto;

	border: solid 1px var(--border-neutral-secondary);
	border-radius: var(--bs-border-radius);
}


/* table data-type */
.data-table {
	border: solid 1px var(--border-neutral-secondary);
	border-radius: var(--bs-border-radius);
	overflow: hidden;
}
.data-table tbody th {
	background-color: var(--bs-tertiary-bg);
	text-align: right;
	padding: 0.5rem 1rem;
}

.data-table tbody tr th:not(:first-child) {
	border-left: solid 1px var(--border-neutral-secondary);
}

.data-table tbody tr th {
	border-right: solid 1px var(--border-neutral-tertiary);
}

.table.has-data-id tr[data-id] {
	cursor: pointer;
}
.table.has-data-id tbody tr[data-id]:hover th,
.table.has-data-id tbody tr[data-id]:hover td {
	background-color: var(--bg-brand-tertiaryhover);
}
.data-table.detail-table {
	display: none;
}

/* search-box */
.input-group-text {
	background-color: var(--bg-default-default);
	border-right-color: transparent;
}

/*#################### 모델링 영역 ####################*/
.main .unity-box {
	position: absolute;
	top: var(--header-height);
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1;

	background-color: #eee;
	background-image: url("../images/bg-sample.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	padding: 0;
	width: 1920px;
	height: calc(100% - var(--header-height));
}

/* scroll */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-default-default);
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: var(--border-neutral-secondary);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-calendar-picker-indicator {
	opacity: 0;
}